<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ronin dev the prodigal son of PHP{% endblock %}</title>
	  <twig:SEO />
    {% block stylesheets %}
	    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

  </head>
  <body class="font-inter antialiased bg-gray-50 text-gray-800 dark:bg-gray-950 dark:text-gray-100 tracking-tight">
	  <div class="overflow-hidden supports-[overflow:clip]:overflow-clip">
		  <div class="max-w-[728px] mx-auto">
			  <div class="w-full bg-white dark:bg-gray-900 border-x border-gray-100 dark:border-gray-800 box-content">
				  <div class="px-3 md:px-16">
					  <div class="flex flex-col min-h-screen">
					    <twig:Header
					      title="Herman Orlando Morales López | Ronin Dev"
					      description="Senior Full Stack developer, UX-UI and Symfony PHP specialist <br/> from GT 🇬🇹. Martial arts lover 🥋🥊"
					      buttonURL="https://www.linkedin.com/in/hackemate/"
					      image="{{ asset('./images/me.png') }}"
					      featuredImages="{{ [
						      asset('./images/header-image-01.jpg'),
						      asset('./images/header-image-02.jpg'),
						      asset('./images/header-image-03.jpg')
					      ] }}"
					    />
					    {% block body %}{% endblock %}
					    <twig:Footer />
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
	  {% block javascripts %}
		  {% block importmap %}{{ importmap('app') }}{% endblock %}
	  {% endblock %}
  </body>
</html>
