<header {{ attributes }} class="text-center pt-6">
	<!-- Dark mode toggle -->
	<div class="flex justify-end mb-2">
		<div class="inline-flex items-center justify-center ml-auto">
			<input type="checkbox" name="light-switch" id="light-switch" class="light-switch sr-only" />
			<label class="relative cursor-pointer p-2" for="light-switch">
				<svg class="dark:hidden" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
					<path class="fill-gray-300"
					      d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z" />
					<path class="fill-gray-400"
					      d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z" />
				</svg>
				<svg class="hidden dark:block" width="16" height="16"
				     xmlns="http://www.w3.org/2000/svg">
					<path class="fill-gray-500"
					      d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z" />
					<path class="fill-gray-400"
					      d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z" />
				</svg>
				<span class="sr-only">Switch to light / dark version</span>
			</label>
		</div>
	</div>
	<!-- Intro -->
	<div class="mb-10">
		<img class="inline-flex rounded-full shadow-lg mb-4" src="./images/user-image.jpg" width="48" height="48" alt="Jordan Walker" />
		<div class="mb-5">
			<h1 class="font-inter-tight font-bold text-gray-800 dark:text-gray-100 text-2xl mb-1">Jordan Walker</h1>
			<p class="text-sm text-gray-600 dark:text-gray-400">Frontend developer and community builder from NYC 🇺🇸</p>
		</div>
		<a class="btn-sm text-gray-200 dark:text-gray-800 bg-gradient-to-r from-gray-800 to-gray-700 dark:from-gray-300 dark:to-gray-100 dark:hover:bg-gray-100 shadow relative before:absolute before:inset-0 before:rounded-[inherit] before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white/.2)_50%,transparent_75%,transparent_100%)] dark:before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white)_50%,transparent_75%,transparent_100%)] before:bg-[length:250%_250%,100%_100%] before:bg-[position:200%_0,0_0] before:bg-no-repeat before:[transition:background-position_0s_ease] hover:before:bg-[position:-100%_0,0_0] hover:before:duration-[1500ms]" href="#0">Available For Work</a>
	</div>
	<div class="group flex justify-center gap-4">
		<img class="rounded-xl even:rotate-2 odd:-rotate-2 group-hover:rotate-0 transition duration-300 ease-[cubic-bezier(.5,.85,.25,1.8)] shadow-lg" src="./images/header-image-01.jpg" width="245" height="160" alt="Header 01" />
		<img class="rounded-xl even:rotate-2 odd:-rotate-2 group-hover:rotate-0 transition duration-300 ease-[cubic-bezier(.5,.85,.25,1.8)] shadow-lg" src="./images/header-image-02.jpg" width="245" height="160" alt="Header 02" />
		<img class="rounded-xl even:rotate-2 odd:-rotate-2 group-hover:rotate-0 transition duration-300 ease-[cubic-bezier(.5,.85,.25,1.8)] shadow-lg" src="./images/header-image-03.jpg" width="245" height="160" alt="Header 03" />
	</div>
</header>
