<section {{ attributes }}>
	<h2 class="font-inter-tight text-lg font-semibold text-gray-800 dark:text-gray-100 mb-6">{{ sectionTitle }}</h2>
	<div class="space-y-1">
		{% block content %}{% endblock %}
	</div>
</section>
